html {
    height: 100%;
}
body {
    background: linear-gradient(to top, #999, #737373, #999);
    height: 100%;
}
.jumbotron {
    background: linear-gradient(to right, rgba(128, 128, 128, 0.4), rgba(128, 128, 128, 0.8), rgba(128, 128, 128, 0.9), rgba(128, 128, 128, 0.8), rgba(128, 128, 128, 0.4)), url(../images/brickBg.jpg);
    min-height: 450px;
}
.jumbotron h1 {
    color: #000033;
    font-size: 2.75em;
    text-align: center;
    /*text-shadow: 1px 1px 5px #0000BF;*/
}
.container .jumbotron {
    border-radius: 0;
    margin-bottom: 0;
}
.top-move {
    margin-top: 5%;
}
.list-unstyled li {
    color: #000033;
    font-size: 1.5em;
    /*text-shadow: 1px 1px 2px #0000BF;*/
}
.cropPic {
    border: 5px solid #797979;
    border-radius: 100%;
    max-width: 60%;
}
.newDiv {
    background: #000033;
    min-height: 450px;
    margin-top: 0;
    width: 100%;
}

.newDiv h1 {
    color: #fff;
    font-size: 2.75em;
    margin-top: 0;
    padding: 20px 0;
    text-align: center;
    text-shadow: 2px 2px 1px #0000BF;
}
.center {
    margin: 0 auto;
    text-align: center;
    width: 80%;
}
.group img {
    margin-top: 15px;
    padding: 15px;
}
.footer {
    padding-bottom: 20px;
}
#iconLinks li {
  display: inline;
  margin: 6%;
  list-style: none;
  position: relative;
  top: 20px;
}
.iconImg {
  width: 4%;
  height: 4%;
}
.iconImg:hover {
     transform: rotate(300deg);
}
#logo {
    position: relative;
    left: 50%;
    padding-bottom: 20px;
}
