html {
  height: 100%;
}
body {
  background-image: linear-gradient(to bottom right, #276440, #577d67, #63fda2);
  /*background-repeat: no-repeat;
  background-attachment: fixed;*/
  height: 100%;
  /*background: #276440;*/

  /*7D7668*/
  font-size: 16px;
}
#wrapper {
  background-image: url('../images/brickBg.jpg');
  border: 1px solid #AE7A1C;
  border-radius: 200px 0px 200px 0px;
  box-shadow: 2px 2px 4px 2px #534F46;
  margin: 3% auto;
  height: 600px;
  width: 70%;
}
#nav {
  position: relative;
  left: 2em;
  top: 1.5em;
}
#nav a {
  background-color: #276440;
  border-radius: 3px;
  color: #fff;
  display: inline;
  margin-right: 1.5em;
  padding: 0.5em;
  text-decoration: none;
}
#displayBox {
  background-color: rgba(255, 255, 255, 0.9);
  /*#E8E6E3 lightgray, #816470 lavender*/
  border-radius: 15px;
  margin: 13% auto;
  height: 350px;
  width: 60%;
}
/*#displayBox::after {
  clear: right;
}*/
#leftBox {
  /*border: 1px dashed gray;*/
  box-sizing: border-box;
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
#leftBox h3 {
  font-size: 1.5em;
  color: rgb(6, 63, 71);
  position: relative;
  left: 1.5em;
  top: 1.25em;
  /*text-align: center;*/
  text-shadow: 1px 1px #000;
}
#leftBox li {
  font-size: 1.5em;
  line-height: 1.5em;
  list-style: none;
}
#listBox {
  margin-top: 20%;
}
#rightBox {
  /*border: 1px dashed gray;*/
  box-sizing: border-box;
  color: #000;
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
#cropPic {
  border-radius: 100%;
  float: right;
  margin: 10px 10px 0 0;
  width: 50%;
}
#cropPic::after {
  clear: right;
}
#iconLinks li {
  display: inline;
  margin: 6%;
  list-style: none;
  position: relative;
  top: 20px;
}
.iconImg {
  width: 6%;
  height: 6%;
}
